<footer role="contentinfo" id="site-footer">
 <div class="wrap">
 <nav role="navigation" class="menu">
  		<ul class="footer-links">
  		{% for link in site.data.footer %}
  			<li><a href="{{ link.url }}">{% if link.icon %}<i class="fa {{ link.icon }}"></i> {% endif %}{{ link.title }}</a></li>
  		{% endfor %}
  		</ul>
	</nav><!-- /.menu -->
</div>
 
	<div class="wrap">
	
	

  		<center>

      <a href="https://www.facebook.com/elapaint" target="_blank"><img src="http://i1291.photobucket.com/albums/b559/mooyokii/facebook_zps013pp6yz.png" alt="facebook"></a>

      <a href="https://twitter.com/mimchaaan" target="_blank"><img src="http://i1291.photobucket.com/albums/b559/mooyokii/twitter_zps55d0como.png" alt="twitter"></a>  


			<a href="https://instagram.com/elapaint" target="_blank"><img src="http://i1291.photobucket.com/albums/b559/mooyokii/instagram_zpsraejlurm.png" alt="instagram"/></a>
		
      <a href="https://instagram.com/elapaint" target="_blank"><img src="http://i1291.photobucket.com/albums/b559/mooyokii/youtube-2_zpsk5jhxqpd.png" alt="youtube"/></a>

  		</center>
  	
  	
 </div>
</footer>
