<footer role="contentinfo" id="site-footer">
 <div class="wrap">
 <nav role="navigation" class="menu">
  		<ul class="footer-links">
  		{% for link in site.data.footer %}
  			<li><a href="{{ link.url }}">{% if link.icon %}<i class="fa {{ link.icon }}"></i> {% endif %}{{ link.title }}</a></li>
  		{% endfor %}
  		</ul>
	</nav><!-- /.menu -->
</div>
 
	<div class="wrap">
	
	<div class="social-links" 

  		<a href="mailto:elapaint88@gmail.com" target="_blank"><img src="http://i736.photobucket.com/albums/xx9/Cutieberries/project/48e64f17-51e8-4b64-9607-ba3c7630fd61_zpsb26cd719.png?t=1421695993" alt="email"/></a>

			<a href="https://www.facebook.com/elapaint" target="_blank"><img src="http://i736.photobucket.com/albums/xx9/Cutieberries/project/429adbc9-f240-4fed-8bb4-e889bb268b45_zpsed479ff0.png?t=1421696258" alt="facebook"></a>

			<a href="https://instagram.com/elapaint" target="_blank"><img src="http://i736.photobucket.com/albums/xx9/Cutieberries/project/7e3987de-99a2-4361-bcd6-bf2838f8e68a_zpsf5449e6f.png?t=1421697282" alt="instagram"/></a>
		
  		</center>
  	</div>
  	
 </div>
</footer>
