<footer role="contentinfo" id="site-footer">
 <div class="wrap">
 <nav role="navigation" class="menu">
  		<ul class="footer-links">
  		{% for link in site.data.footer %}
  			<li><a href="{{ link.url }}">{% if link.icon %}<i class="fa {{ link.icon }}"></i> {% endif %}{{ link.title }}</a></li>
  		{% endfor %}
  		</ul>
	</nav><!-- /.menu -->
</div>
 
	<div class="wrap">
	
	<center><ul class="social-links">
  <li>
    <a href="https://twitter.com/">
      <span>Twitter</span>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/‎">
      <span>Google+</span>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/">
      <span>Facebook</span>
    </a>
  </li>
  <li>
    <a href="https://github.com/">
      <span>GitHub</span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/">
      <span>LinkedIn</span>
    </a>
  </li>
  <li>
    <a href="http://dribbble.com/">
      <span>Dribbble</span>
    </a>
  </li>
  <li>
    <a href="/rss">
      <span>RSS</span>
    </a>
  </li>
</ul></center>
  	</div>
  	

</footer>
