/* ==========================================================================
   FOOTER
   ========================================================================== */

#site-footer {
  @include outer-container;
  margin-top: (2 * (0px + $doc-line-height));
  margin-top: (2 * (0rem + ($doc-line-height / $doc-font-size)));
  padding: $gutter;
  text-align: center;
  @include media($medium) {
    padding-left: 2 * $gutter;
    padding-right: 2 * $gutter;
  }
  @include media($large) {
    text-align: left;
  }
  font-family: $alt-font;
  
  .copyright {
    clear: both;
    @include font-size(12);
    color: lighten($caption-color, 10);
    a {
      color: lighten($caption-color, 10);
      text-decoration: none;
    }
  }

  /* Social networking brand colors */
  
  $social: 
  (facebook, $facebook-color),
  (flickr, $flickr-color),
  (foursquare, $foursquare-color),
  (google-plus, $google-plus-color),
  (instagram, $instagram-color),
  (linkedin, $linkedin-color),
  (pinterest, $pinterest-color),
  (rss, $rss-color),
  (tumblr, $tumblr-color),
  (twitter, $twitter-color),
  (vimeo, $vimeo-color),
  (youtube, $youtube-color);
  @each $socialnetwork, $color in $social {
    .#{$socialnetwork} {
      color: $color;
      &:hover {
        color: darken($color, 20);
      }
    }    
  }
}

/* Footer menu links */

.footer-links {
  @include media($large) {
    float: left;
  }
  li {
    a {
      margin-left: ($gutter / 2);
      margin-right: ($gutter / 2);
      @include media($large) {
        margin-left: 0;
        margin-right: $gutter;
      }
      padding: (.25 * $masthead-height) 0 (.25 * $masthead-height);
      color: $caption-color;
    }
  }
}

/* Social network links */

.social-links {
  clear: left;
  @include media($large) {
    float: right;
    clear: none;
  }
  li {
    a {

    }
  }
}

body {
  background: #222 url("http://25.media.tumblr.com/a408ad9af259cf827ed4599d60bcb0a9/tumblr_myebwtELvb1st5lhmo1_1280.jpg") no-repeat fixed center;
  background-size: cover;
  overflow: hidden;
}

.social {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 70px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: tomato;
  color: white;
}

.social .link.twitter {
  background-color: #00ACEE;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}

